


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* shared styles */
.btn-primary{
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    opacity: 80%;
}
.text{
    font-size: 24px;
    font-weight: bold;
}
/* nav styles */
nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight: 800px;
    font-size: 28px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
/* banner */
.banner{  
    text-align: center;
    margin: 50px auto;
    width: 998px; 
   
}
.bg-image{
    background-image: url(../assets/Hero-bg.png);
  
    background-size: cover;
   
    height: 652px;
}
.banner-title{
    font-size: 48px;
    font-weight: bold;
}
.banner-content{
    font-size: 16px;
    margin-bottom: 45px;
}
.btn-primary-contact {
    padding: 21px 28px 21px 28px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0D1321;
    margin-bottom: 45px;
    text-decoration: none;
   
   
}
.banner img{
    height: 240px;
    width: 240px;
    margin-top: 26px;
}
/* section styles */
.section-opportunity{
    text-align: center;
    padding: 0px 144px;
    margin-bottom: 48px;
   
}
.secondary-bg{
    background-color: #FAFAFB;
    border-radius: 10px;
    max-width:1140px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    
}
.section-title{
    font-size: 32px;
    font-weight: 900;
}
.text-size{
    font-size: 16px;
}
.section-explain{
    display: flex;
}
.item{
    background-color: #FEFEFE;
    width: 477px;
    height: 220px;
    border-radius: 10px;
    padding: 48px;
}
.section-explain{
    justify-content: space-around;
    margin-bottom: 32px;
}
.section-size{
    padding: 80px 97px 80px 97px;
    width: 946px;
}
.btn-primary-learn-more{
    padding: 12px 20px;
    border-radius: 8px;
    color: #565A64;
    background-color: #ffffff;
   
}

/* Inspiration style */
.inspiration{
    text-align: center;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.inspiration-head{
    width: 852px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;

}
.inspiration-title{
    
    font-size: 32px;
    font-weight: bolder;
}
.inspiration-description{
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
iframe{
    position: absolute;
   border-radius: 16px; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  
}
.link{
    width: 100%;
    position: relative;
    height: 400px;
    overflow: hidden;
   
}
.youtube{
    border-radius: 16px; 
    border: 1px solid gray;
    padding: 10px;
    width: 1140px;

}
/* My current target */
.target-title{
    text-align: center;
    width: 852px;
    margin: 0 auto;

}
.target-item{
    display: flex;
    font-size: 14px;
    margin-bottom: 100px;
}
.html{
    background-color: #FFF6F4;
    margin: 24px;
    padding: 40px;
    border-radius: 10px;
}
.css{
    background-color: #F2F6FE;
    margin: 24px;
    padding: 40px;
    border-radius: 10px;
}
.javascript{
    background-color: #FFFDF2;
    margin: 24px;
    padding: 40px;
    border-radius: 10px;
}
.target{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    text-decoration: underline;
    color: #0D1321;
}
.next-target-title{
    text-align: center;
    width: 852px;
    margin: 0 auto;

}
.font-size{
    font-size: 24px;
}
.reactJS ,.mongodb ,.nodejs{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid gray;
    margin-top: 24px;
    padding: 40px;
    border-radius: 16px;

}

.framwork-image1, .framwork-image2,.framwork-image3{
    width: 108px;
    height: 108px;
   
}
/* footer styles */
#footer{
    background-image: url("../assets/handshake.jpg");
    width: 1140px;
    height: 313px;
    text-align: center;
    /* background-repeat: no-repeat; */
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
 
}
.footer-description{
    color: #FAFAFB;
}
.footer-btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
   
}
.feedback{
    padding: 19px 215px 19px 20px;
    margin-right: 15px;
    border-radius: 16px;
}
.submission{
    padding: 17px 20px 17px 20px;
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 16px;

}
.footer-text{
    font-size: 20px;
    font-weight: 600;
}